* {
    padding: 0px;
    margin: 0px;
}

#idhi {
    width: 99%;
    height: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    top: 2rem;

}

#idhi img {
    border: 2px solid transparent;
    height: 300px;
    width: 500px;
    visibility: visible;
    background-color: red;
    opacity: 1;
    box-shadow: 10px;
    transition-property: display opcity;
    transition-duration: 0.9s;
}

#idhi2 img {
    visibility: visible;
    opacity: 0;
}

#btn {
    display: flex;
    justify-content: center;
}


#hiid {
    border: 1px solid red;
    opacity: 1;
    transition: opacity 1.10s ease-in-out;
}