#h1 {
    font-size: 10px;
}

#container {
    background-color: white;
    height: 24rem;
    width: 17rem;

    border: 0.1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}

#objname {
    font-size: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;


}



#container-group {
    border: 2px solid transparent;
    border-radius: 10px;
    height: 99%;
    width: 100%;
}

#container-1 {
    height: 24%;
    width: 100%;
    background: #536976;
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #292E49, #536976);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    position: relative;
    left: 0;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#container-2 {
    background-color: lightgray;
    height: 76%;
    width: 100.1%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0.3px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;

}

#WeatherDetails {
    font-size: 15px;
    left: 1px;
    display: flex;
    position: relative;
    justify-content: center;
    text-transform: capitalize;
    top: 11px;
}

#maxTemp,
#minTemp,
#temp,
#typeWether,
#latitude,
#longtude {
    font-size: 15px;
    left: 50px;
    display: flex;
    position: relative;
    text-transform: capitalize;

}

#latitude {
    top: -8px;
}

#longtude {
    top: -33px;
}

#temp {
    top: -58px;
}




#maxTemp {
    top: -86px
}

#minTemp {
    top: -110px
}


#typeWether {
    top: -138px;
}